* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.box {
  width: 100%;
  height: 100%;

  display: flex;
}

.left {
  flex: 6;
  height: 100%;

  background-color: green;
}


.left .cat {
  width: 300px;
  height: 200px;
  background-color: red;
}

.right {

  flex: 4;
  background-color: black;

}
