* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {

  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFF;
  color: black;
  text-align: center;
}

.box {

  position: absolute;
  left: 50%;
  top: 50%;

  display: flex;
  gap: 10px;

  width: 80%;
  height: 90%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
}

.box > * {
  flex: 1;
  border: 1px solid grey;

  
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.box .left {
  color: black;
  background-color: #fff;
}

.box .left p {
  flex: 0;
  font-size: 24px;
  font-weight: bolder;
  border-bottom: 1px solid black;
}

.box .right {
  color: #fff;
  background-color: black;
  border: 1px solid #fff;
}

.box .right p {
  flex: 0;
  font-size: 24px;
  font-weight: bolder;
  border-bottom: 1px solid #fff;
}


